* {
    background: #141318;
    error: #ffb4ab;
    error-container: #93000a;
    inverse-on-surface: #312f36;
    inverse-primary: #615690;
    inverse-surface: #e6e1e9;
    on-background: #e6e1e9;
    on-error: #690005;
    on-error-container: #ffdad6;
    on-primary: #32285e;
    on-primary-container: #e6deff;
    on-primary-fixed: #1d1148;
    on-primary-fixed-variant: #493e76;
    on-secondary: #322e41;
    on-secondary-container: #e6dff9;
    on-secondary-fixed: #1c192b;
    on-secondary-fixed-variant: #484458;
    on-surface: #e6e1e9;
    on-surface-variant: #c9c4d0;
    on-tertiary: #492534;
    on-tertiary-container: #ffd9e5;
    on-tertiary-fixed: #30111f;
    on-tertiary-fixed-variant: #623b4b;
    outline: #938f99;
    outline-variant: #48454e;
    primary: #cbbeff;
    primary-container: #493e76;
    primary-fixed: #e6deff;
    primary-fixed-dim: #cbbeff;
    scrim: #000000;
    secondary: #cac3dc;
    secondary-container: #484458;
    secondary-fixed: #e6dff9;
    secondary-fixed-dim: #cac3dc;
    shadow: #000000;
    source-color: #6e678a;
    surface: #141318;
    surface-bright: #3a383e;
    surface-container: #201f24;
    surface-container-high: #2b292f;
    surface-container-highest: #36343a;
    surface-container-low: #1c1b20;
    surface-container-lowest: #0f0d13;
    surface-dim: #141318;
    surface-tint: #cbbeff;
    surface-variant: #48454e;
    tertiary: #edb8cb;
    tertiary-container: #623b4b;
    tertiary-fixed: #ffd9e5;
    tertiary-fixed-dim: #edb8cb;
}
