* {
    background: #151218;
    error: #ffb4ab;
    error-container: #93000a;
    inverse-on-surface: #332f35;
    inverse-primary: #6c538c;
    inverse-surface: #e8e0e8;
    on-background: #e8e0e8;
    on-error: #690005;
    on-error-container: #ffdad6;
    on-primary: #3c245a;
    on-primary-container: #eedcff;
    on-primary-fixed: #260d44;
    on-primary-fixed-variant: #533b72;
    on-secondary: #352d40;
    on-secondary-container: #ecddf7;
    on-secondary-fixed: #20182a;
    on-secondary-fixed-variant: #4c4357;
    on-surface: #e8e0e8;
    on-surface-variant: #ccc4cf;
    on-tertiary: #4b252d;
    on-tertiary-container: #ffd9de;
    on-tertiary-fixed: #321018;
    on-tertiary-fixed-variant: #653b42;
    outline: #958e99;
    outline-variant: #4a454e;
    primary: #d8bafa;
    primary-container: #533b72;
    primary-fixed: #eedcff;
    primary-fixed-dim: #d8bafa;
    scrim: #000000;
    secondary: #cfc1da;
    secondary-container: #4c4357;
    secondary-fixed: #ecddf7;
    secondary-fixed-dim: #cfc1da;
    shadow: #000000;
    source-color: #4e425c;
    surface: #151218;
    surface-bright: #3b383e;
    surface-container: #211e24;
    surface-container-high: #2c292f;
    surface-container-highest: #373339;
    surface-container-low: #1d1a20;
    surface-container-lowest: #100d12;
    surface-dim: #151218;
    surface-tint: #d8bafa;
    surface-variant: #4a454e;
    tertiary: #f2b7c0;
    tertiary-container: #653b42;
    tertiary-fixed: #ffd9de;
    tertiary-fixed-dim: #f2b7c0;
}
