* {
    background: #111418;
    error: #ffb4ab;
    error-container: #93000a;
    inverse-on-surface: #2e3135;
    inverse-primary: #36618e;
    inverse-surface: #e1e2e8;
    on-background: #e1e2e8;
    on-error: #690005;
    on-error-container: #ffdad6;
    on-primary: #003258;
    on-primary-container: #d1e4ff;
    on-primary-fixed: #001d36;
    on-primary-fixed-variant: #1a4975;
    on-secondary: #253140;
    on-secondary-container: #d7e3f8;
    on-secondary-fixed: #101c2b;
    on-secondary-fixed-variant: #3b4858;
    on-surface: #e1e2e8;
    on-surface-variant: #c3c6cf;
    on-tertiary: #3b2948;
    on-tertiary-container: #f3daff;
    on-tertiary-fixed: #251431;
    on-tertiary-fixed-variant: #523f5f;
    outline: #8d9199;
    outline-variant: #43474e;
    primary: #a0cafd;
    primary-container: #1a4975;
    primary-fixed: #d1e4ff;
    primary-fixed-dim: #a0cafd;
    scrim: #000000;
    secondary: #bbc7db;
    secondary-container: #3b4858;
    secondary-fixed: #d7e3f8;
    secondary-fixed-dim: #bbc7db;
    shadow: #000000;
    source-color: #4674a6;
    surface: #111418;
    surface-bright: #36393e;
    surface-container: #1d2024;
    surface-container-high: #272a2f;
    surface-container-highest: #32353a;
    surface-container-low: #191c20;
    surface-container-lowest: #0b0e13;
    surface-dim: #111418;
    surface-tint: #a0cafd;
    surface-variant: #43474e;
    tertiary: #d7bee4;
    tertiary-container: #523f5f;
    tertiary-fixed: #f3daff;
    tertiary-fixed-dim: #d7bee4;
}
