<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="Labwc">
    <item label="NEOVIDE">
      <action name="Execute" command="neovide" />
    </item>
    <item label="FOOT">
      <action name="Execute" command="foot" />
    </item>
    <item label="FIREFOX">
      <action name="Execute" command="firefox" />
    </item>
    <item label="THUNAR">
      <action name="Execute" command="thunar" />
    </item>

    <separator />

      <item label="THUNDERBIRD">
        <action name="Execute" command="thunderbird" />
      </item>
      <item label="VESKTOP">
        <action name="Execute" command="vesktop" />
      </item>
      <item label="MUSIC">
        <action name="Execute" command="alacritty -e rmpc" />
      </item>

    <separator />

    <item label="RECONFIGURE">
      <action name="Reconfigure" />
    </item>
    <item label="EXIT">
      <action name="Exit" />
    </item>
  </menu>

  <menu id="client-menu">
    <item label="Minimize">
      <action name="Iconify" />
    </item>
    <item label="Maximize">
      <action name="ToggleMaximize" />
    </item>
    <item label="Fullscreen">
      <action name="ToggleFullscreen" />
    </item>
    <item label="Decorations">
      <action name="ToggleDecorations" />
    </item>
    <item label="Always on Top">
      <action name="ToggleAlwaysOnTop" />
    </item>
    <separator />
    <item label="Close">
      <action name="Close" />
    </item>
  </menu>
</openbox_menu>
