startup_commands toggle_titlebar;toggle_custom_color

new_command _print firefox %{file_path}

custom_background_color #faf4ed
custom_text_color #575279

page_separator_color #f2e9e1
search_highlight_color #ea9d34
status_bar_color #faf4ed
status_bar_text_color #575279
ui_text_color #575279
ui_selected_text_color #faf4ed
ui_background_color #fffaf3
ui_selected_background_color #907aa9
background_color #faf4ed
visual_mark_color 0.110 0.478 0.663 0.20
text_highlight_color #dfdad9
link_highlight_color #286983
synctex_highlight_color #b4637a
