startup_commands toggle_titlebar;toggle_dark_mode

new_command _print firefox %{file_path}

# custom_color_contrast 0.3
# custom_color_mode_empty_background_color #1d2021
# page_separator_color #1d2021
# page_separator_width 10
# custom_background_color #282828
# custom_text_color #fbf1c7
# search_highlight_color #7ec16e
# status_bar_color #427b58
# status_bar_text_color #fbf1c7

custom_background_color #fbf1c7
custom_text_color #282828

page_separator_color #fbf1c7
search_highlight_color #d79921
status_bar_color #fbf1c7
status_bar_text_color #282828
ui_text_color #282828
ui_selected_text_color #282828
ui_background_color #ebdbb2
ui_selected_background_color #bdae93
background_color #fbf1c7
visual_mark_color 0.74117647 0.68235294 0.57647059 0.2
text_highlight_color #bdae93
link_highlight_color #458588
synctex_highlight_color #cc241d



